body {
  background: #fefefe;
}

#home .navbar-links {
  flex-grow: 0;
  font-weight: 600;
  text-transform: uppercase;
}

#home #cabecalho img {
  width: 150px;
}

#home {
  text-align: center;
  display: flex;
  justify-content: center;

  color: #fff;

  background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.52), rgba(0, 0, 0, 0.322)), url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

#home .down-arrow {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#home .page-container {
  justify-content:  space-between;
}

#home h1 {
  margin-top: 2rem;  
}

#home h2 {
  font-size: 1rem;
}

#servicos {
  text-align: center;
  margin: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

#servicos h2 {
  font-size: 1.5rem;
  color: #4e61b6;
}

#servicos h3 {
  font-size: 1rem;
  color: #919191;
}

#servicos .service-types {
  margin-top: 2rem;
}

#servicos .service-types .service .icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#servicos .service-types .service .icon:hover {
  color: #4e61b6;
  transition: .5;
}

#relatos {
  text-align: center;
  margin: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(19,56,124);
  background: radial-gradient(circle, rgba(19,56,124,1) 0%, rgba(19,56,124,1) 50%, rgba(33,37,72,1) 100%);
  color: #fff;
  min-height: 500px;
}

.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.testimonial-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 75%;
}

#relatos h2 {
  font-size: 1.5rem;
}

#relatos h3 {
  font-size: 1rem;
}

#contato {
  text-align: center;
  margin: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

#contato h2 {
  font-size: 1.5rem;
}

#contato h3 {
  font-size: 1rem;
}

.btn-primary {
  background: rgb(19,56,124);
}

#contato .telefone {
  margin-top: 1rem;
  color: rgb(19,56,124);
}

#contato .email {
  margin-top: 1rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

#footer img {
  width: 100px;
  margin-bottom: 1rem;
}

#footer em {
  font-size: .7rem;
}

.page-container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: rgb(141, 141, 141) !important;
}

#contato h2 {
  font-size: 1.5rem;
  color: #4e61b6;
}

#contato h3 {
  font-size: 1rem;
  color: #919191;
}

#products {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(19,56,124);
  background: radial-gradient(circle, rgba(19,56,124,1) 0%, rgba(19,56,124,1) 50%, rgba(33,37,72,1) 100%);
  color: #fff;
  min-height: 500px;
  padding: 1rem;
}

#products h2 {
  font-size: 1.5rem;
}

#products h3 {
  font-size: 1rem;
}

.products--Grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#mockup {
  width: 50%;
}

.text-box {
  text-align: left;
  max-width: 300px;
}

.text-box img {
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .products--Grid {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  #mockup {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-5 18:43:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
